body {
    font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    height: 100vh;
    margin: 0;
    padding-top: 65px;
}

main {
  width: 100vw;
  min-height: calc(100vh - 66px - 30px );
}
/* Gridsys */
.grid-container {
  margin: 0;
  color: white;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:"contentA";
}

#main-content {
  max-height: 90vh;
  width: 100vw;
  object-fit: cover;
  grid-area: contentA;
}

#para-container {
  position: absolute;
  max-width: 500px;
  max-height: 250px;
  background-color: yellowgreen;
  opacity: 80%;
  top: 10rem;
  right: 10rem;
  overflow: scroll;
}

/* Media Query section */
@media only screen and (max-width:576px ){ 
  .grid-container{
    display: grid;
    height:100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "contentA";
  }
    
  #para-container {
    position: absolute;
    max-width: 250px;
    max-height: 250px;
    background-color: yellowgreen;
    opacity: 80%;
    top: 100px;
    right: 0;
    overflow: scroll;
  }

  }






.dark-rotation {
  animation: loader 1.25s infinite; 
  animation-iteration-count: 6;
  background-color: rgba(255, 255, 255, 0.442);
  color: #00136c;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }
  100% {
    border-radius: 50%;
    rotate: 360deg;
  }
}








/*About Us Page Css*/

#about-us {
  position: relative;
}

#profile-card {
  margin-top: 9rem;
  position: relative;
  width: 150px;
  height: 150px;
  background: blue;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
}

#profile-card:hover {
  border-radius: 10px;
  height: 250px;
}

#profile-card.img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s;
}

#profile-card:hover img {
  transform: translateY(-80px);
}

#user-img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
}

#profile-card:hover img {
  border-radius: 10px;
}

#caption {
  text-align: center;
  color: white;
  transform: translateY(-80px);
  opacity: 0;
}

#caption.social-links {
  margin-right: 8px;
  font-size: 18px;
}

#profile-card:hover .caption {
  opacity: 1;
}

#profile-card:hover a {
  color: white;
}


.user-rotation {
  animation: loader 2.25s infinite; 
  animation-iteration-count: 1;
}

