body {
  font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.gridsys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr auto;
  grid-auto-rows: minmax(100px , auto);
  height: 100vh;
  grid-template-areas: 
  "naving naving naving "
  "mid mid mid"
  "foot foot foot";
  gap:10px; 
}
.naving {
  background-color: aquamarine;
  grid-area: naving;
}
.mid {
  background-color: rgb(64, 208, 36);
  grid-area: mid;

}
.foot {
  background-color: rgb(180, 171, 229);
  grid-area: foot;

}