body {
  height: 100vh;
  margin: 0;
}

/* Main grid */
.gridsys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr auto;
  grid-auto-rows: minmax(100px , auto);
  height: 100vh;
  grid-template-areas: 
  "naving naving naving "
  "mid mid mid"
  "foot foot foot";
  gap:10px;
}



/* Naving section */

.naving {

  grid-area: naving;
}

/* Mid section */

.mid{
  background-color: rgb(98, 215, 217);
  grid-area: mid;
}

.img-container {
  position: relative;
  text-align: center;
}

.para-container {
  overflow: scroll;
  height: 40%;
  width: 30%;
  position: absolute;
  top: 30%;
  left: 85%;
  transform: translate(-85%, -30%);
  color: white;
}
.para-container h1 {
  background-color: rgb(79, 121, 121);
}
.para-container p {
  background-color: rgb(75, 92, 80);
}


/* footer section */

.foot {
  background-color: rgb(229, 171, 178);
  grid-area: foot;

}
