<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Think Pro</title>
    <!--Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!--Bootstrap js-->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<!--custom-->
<link rel="stylesheet" href="style.css">
<script defer src="jquery-3.6.3.min.js"></script>
<script defer src="script.js"></script>

<body class="darkmode-body">

    <!-- main-grid -->
    <div class="gridsys">
    <!-- Naving contents -->
    <div class="naving">
        <nav class="navbar Dark-nav">
        <div class="container-fluid">
            <img src="icons/home/thinkpro.png" class="rounded-5 thinkpro-logo" style="width: 50px;height:50px; border: 1px solid;">
            <a class="navbar-brand logo-color" >THINKPRO</a>
            <span>
            <img src="icons/home/dark.png" id="Switch-Mode" type="button" class="rounded-5 float-end ms-3" width="33px">
            <button id="dark-btn"  class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon">
                </span>
            </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"> 
            <div class="offcanvas-header  text-white bg-primary"> 
            <h5 class="offcanvas-title logo-color" id="offcanvasNavbarLabel">THINKPRO</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div  class="offcanvas-body side-dark-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li  class="nav-item">
                <a class="nav-link active side-nav-home" aria-current="page" href="#">Home</a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link active side-nav-login" aria-current="page" href="#">Login</a>
                    </li>
                <li class="nav-item">
                <a class="nav-link side-nav-about-us" href="#">About Us</a>
                </li>
        </div>
    </div>
</div>
</nav>
</div>
</div> <!-- grid close tag -->
    </body>
    </html>