body {
  height: 100vh;
  margin: 0;
}

.hid {
  user-select: none;
}


/* Main grid */
.gridsys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr ;
  grid-auto-rows: minmax(100px , auto);
  height: 100vh;
  align-items: center;
  grid-template-areas: 
  "mid mid mid mid"
  "foot foot foot foot";
}

/* Naving section */

.Dark-Btn {

  background-color: rgb(222, 243, 90, 0.2);
}

/* Mid section */
.middel{
  grid-area: mid;
}

.img-container {
  position: relative;
  text-align: center;
}

.para-container {
  overflow: scroll;
  position: absolute;
  height: 40%;
  width: 30%;
  top: 30%;
  left: 85%;
  transform: translate(-85%, -30%);
  border-radius: 2em;
}

.para-container h1 {
  border: 2px solid;
  position: sticky;
  top:0;
}
.para-container p {
  border: 3px ridge darkcyan;
  
}

.social-container {
  position: fixed;
  top: 10%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.social-container img {
  width: 2em;
  background-color: rgb(255, 255, 255, 0.5);
}

/* Media Query on Mobile View-point */
@media only screen and (max-width: 572px) {
  .social-container {
    top: 8%;
    gap: 10px;
  }
  .social-container img {
    background-color: rgb(255, 255, 255,0.5);
    width: 2rem;
    height: 2rem;
  }

  .para-container {
    overflow: scroll;
    position: absolute;
    height: 80%;
    width: 40%;
    top: 30%;
    left: 95%;
    font-size: small;
    transform: translate(-95%, -30%);
    color: white;
    text-align: center;
  }
  .para-container h1 {
    border: 2px solid;
    position: sticky;
    top:0;
    background-color: rgb(120, 79, 121, 0.9);
  }
  .para-container p {
    border: 2px solid;
    background-color: rgb(105, 90, 106, 0.9);
  }
  

}


/* footer section */

.foot {
  grid-area: foot;

}


/* animations */

.rotations {
  animation: rotate-icons 3s linear 2;
}
@keyframes rotate-icons {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.facebook {
  animation: animate-icons 1s linear 1;
}
@keyframes animate-icons {
  0% {
    padding-left: 50px;
    transform: rotate(0deg);
  }
  50% {
    padding-left: 20px;
    transform: rotate(180deg);
  }
  100% {
    padding-left: 0px;
    transform: rotate(360deg);
  }
}